<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>HouseApp</title> 
    <link rel="stylesheet" href="css/style.min.css">
    <script type="text/javascript" src="js/libs.js"></script> 
  </head>
  <body>
    <div class="container" id="data">
      <div class="col-md-6">
        <div role="tab-panel">
          <ul class="nav nav-tabs" role="tablist" id="details-tabs">
            <li role="presentation" class="active"><a href="#aboutYou" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> Variable</a></li>
            <li role="presentation"><a href="#propertyDetails" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-home"></span> Fixed</a></li>
          </ul>
          <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="aboutYou">
                <form role="form" data-toggle="validator">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="form-group">
                      <label for="share">% purchasing</label>
                      <span data-toggle="popover" data-placement="top" data-container="body" data-content="If buying on the open market, put 100, if buying through shared ownership put the percentage you want to purchase (will be between 25% and 75% when you first buy."><span class="glyphicon glyphicon-info-sign"></span></span>
                      <div class="input-group">
                        <div class="input-group-addon">%</div>
                        <input id="share" data-errors="Values must be between 25% and 100%" data-bind="textInput:share" type="number" min="25" max="100" class="form-control">
                        <div class="input-group-addon clear"><span aria-hidden="true">&times;</span></div>
                      </div>
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                      <label for="depositPercentage">Deposit %</label>
                      <span data-toggle="popover" data-placement="top" data-container="body" data-content="Put the deposit percentage you want to achieve and the app will tell you if this is possible based on your total savings against moving costs, stamp duty etc."><span class="glyphicon glyphicon-info-sign"></span></span>
                      <div class="input-group">
                        <div class="input-group-addon">%</div>
                        <input id="depositPercentage" data-error="Values must be between 5 and 100" required data-bind="textInput:depositPercentage" type="number" min="5" max="100" class="form-control">
                        <div class="input-group-addon clear"><span aria-hidden="true">&times;</span></div>
                        
                      </div>
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                      <label for="repaymentTerm">Mortgage repayment term (years)</label>
                      <div class="input-group">
                        <div class="input-group-addon">yrs</div>          
                        <input id="repaymentTerm" data-error="Values must be between 20 and 35 years" data-bind="textInput:repaymentTerm" type="number" min="20" max="35" step="1" class="form-control" >
                        <div class="input-group-addon clear"><span aria-hidden="true">&times;</span></div>
                      </div>
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                      <label for="interestRate">Mortgage Interest rate (%)</label>
                      <div class="input-group">
                        <div class="input-group-addon">%</div>          
                        <input id="interestRate" data-error="Values must be between 1% and 10%" data-bind="textInput:interestRate" type="number" min="1" max="10" step="0.5" class="form-control" >
                        <div class="input-group-addon clear"><span aria-hidden="true">&times;</span></div>
                      </div>
                      <div class="help-block with-errors"></div>
                    </div>  
                      <!--<button class="btn btn-primary formSubmit" >Update</button>
                      <button class="btn btn-default formClear">Clear all data</button>-->                   
                  </div>
                </div>
              </form>
              </div>
              <div role="tabpanel" class="tab-pane" id="propertyDetails">
                <form role="form" data-toggle="validator">
                <div class="panel panel-default">
                  <div class="panel-body">
                      <div class="form-group">
                        <label for="marketValue">Full market value</label>
                        <div class="input-group">
                          <div class="input-group-addon">£</div>
                          <input id="marketValue" data-bind="textInput:marketValue" type="number" min="100000" max="1000000" step="5000" class="form-control">
                          <div class="input-group-addon clear"><span aria-hidden="true">&times;</span></div>
                        </div>
                      </div>
                      <div class="form-group">
                      <label for="currentSavings">Total cash available for purchase</label>
                      <span data-toggle="popover" data-placement="bottom" data-container="body" data-content="This will have to cover stamp duty, moving costs, and deposit."><span class="glyphicon glyphicon-info-sign"></span></span>
                      <div class="input-group">
                        <div class="input-group-addon">£</div>
                        <input id="currentSavings"  data-bind="textInput:currentSavings" type="number" min="1000" max="1000000" step="1" class="form-control" >
                        <div class="input-group-addon clear"><span aria-hidden="true">&times;</span></div>
                      </div>
                    </div>
                      <p><strong>Annual income</strong> <span data-toggle="popover" data-placement="bottom" data-container="body" data-content="If you are PAYE, use your gross income, before deductions. If you are self employed, use your net income after deductions as this is what all tax and NI will be based on. The calculation will use class 2 and 4 national insurance."><span class="glyphicon glyphicon-info-sign"></span></span></p>
                      <div class="form-inline form-group">
                        <div class="form-group">
                          <label for="income1">Person 1</label>
                          <div class="input-group">
                            <div class="input-group-addon">£</div>
                            <input id="income1" data-bind="textInput:income1" type="number" min="10000" max="80000" step="100" class="form-control">
                            <div class="input-group-addon clear"><span aria-hidden="true">&times;</span></div>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" id="selfEmployed1" data-bind="checked:selfEmployed1"> Self employed
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-inline form-group">
                      <div class="form-group">
                        <label for="income2">Person 2</label>
                        <div class="input-group">
                          <div class="input-group-addon">£</div>
                          <input id="income2" data-bind="textInput:income2" type="number" min="10000" max="80000" step="100" class="form-control">
                          <div class="input-group-addon clear"><span aria-hidden="true">&times;</span></div>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="selfEmployed2" data-bind="checked:selfEmployed2"> Self employed
                          </label>
                        </div>
                      </div>                    
                    </div>
                    
                    <!-- <div class="form-group">
                      <label for="netMonthly">Net monthly income (total for joint applicants)</label>
                      <div class="input-group">
                        <div class="input-group-addon">£</div>
                        <input id="netMonthly" data-bind="textInput:netMonthly" type="number" min="100" max="10000" step="1" class="form-control">
                        <div class="input-group-addon clear"><span aria-hidden="true">&times;</span></div>
                      </div>
                    </div>    -->           
                    <div class="form-group">
                      <label for="movingCosts">Estimated moving costs </label>
                      <span data-toggle="popover" data-placement="top" data-container="body" data-content="This will include solicitors fees, various registry searches, mortgage broker, mortgage arrangement fee, moving costs, furniture. Basically estimate (generously) how much cash you will need to complete the move. We think £8000 is probably a good starting point, but it could be more!"><span class="glyphicon glyphicon-info-sign"></span></span>
                      <div class="input-group">
                        <div class="input-group-addon">£</div>
                        <input id="movingCosts"  data-bind="textInput:movingCosts" type="number" min="1000" max="10000" step="1000" class="form-control" >
                        <div class="input-group-addon clear"><span aria-hidden="true">&times;</span></div>
                      </div>
                    </div> 
                      <div class="form-group">
                        <label for="serviceCharge">Monthly service charge (apartments)</label>
                        <div class="input-group">
                          <div class="input-group-addon">£</div>
                          <input id="serviceCharge" data-bind="textInput:serviceCharge" type="number" min="10" max="1000" step="1" class="form-control">
                          <div class="input-group-addon clear"><span aria-hidden="true">&times;</span></div>
                        </div>
                      </div> 
                      
                      <div class="form-group">
                        <label for="rentPercentage">Rent percentage (shared ownership)</label>
                        <span data-toggle="popover" data-placement="top" data-container="body" data-content="This is usually stated on the price list that the housing association provide. It is usually something between one and three percent."><span class="glyphicon glyphicon-info-sign"></span></span>
                        <div class="input-group">
                          <div class="input-group-addon">%</div>
                          <input id="rentPercentage" data-bind="textInput:rentPercentage" type="number" min="0" max="5" step="0.1" class="form-control">
                          <div class="input-group-addon clear"><span aria-hidden="true">&times;</span></div>
                        </div>
                      </div>
                      <!--<button class="btn btn-primary formSubmit" >Update</button>
                      <button class="btn btn-default formClear">Clear all data</button>-->
                    </div>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="results">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>Results</h4></div> 
          <div class="panel-body">
            <div class="results-container">
              <div data-bind="css:savingsEnough" class="alert">Savings required: 
                <span data-bind="visible: savingsRequired ">
                  <span>£</span><span data-bind="text:savingsRequired"></span>
                  <small>(You have £<span data-bind="text:currentSavings"></span> available)</small>
                  <span data-toggle="popover" data-placement="bottom" data-container="body" data-content="This is stamp duty plus moving costs plus a ten percent deposit. The larger your deposit the higher this figure will be. "><span class="glyphicon glyphicon-info-sign"></span></span>
                </span>
              </div>
              <div data-bind="css:salaryEnough" class="alert">Multiple of income (salary): 
                <span data-bind="visible: multipleOfSalary ">
                  <span data-bind="text:multipleOfSalary"></span><span>x</span>
                  <span data-toggle="popover" data-placement="top" data-container="body" data-content="If this is more than 4.5x your total yearly salary, it can get more difficult to find a mortgage. It is also important to bear in mind that other factors like debts and other monthly costs will play a factor in the multiple a bank will lend."><span class="glyphicon glyphicon-info-sign"></span></span>
                </span>
              </div>
              <div data-bind="css:netIncomeEnough" class="alert">percentage of net income:
                <span data-bind="visible: multipleOfNetIncome ">
                  <span data-bind="text:multipleOfNetIncome"></span><span>%</span> 
                  <span data-bind="visible: amountLeftMonthly ">
                  <small>(Amount leftover each month: £<span data-bind="text:amountLeftMonthly"></span>)</small>
                  <span data-toggle="popover" data-placement="top" data-container="body" data-content="If this is more than 40-43% of your net montly income, you may find it more difficult to get a mortgage. This will show as red above 43%"><span class="glyphicon glyphicon-info-sign"></span></span>
                </span>
              </div>   
            </div>
            <hr>
            <h4>Monthly costs</h4>
            <div>Mortgage:
              <span data-bind="visible:monthlyMortgage ">
                <span>£</span><span data-bind="text:monthlyMortgage"></span>
                <span data-toggle="popover" data-placement="top" data-container="body" data-content="This really is only an estimate. Of all the figures on here, this is the least accurate and the mortgage you actually pay will almost certainly be different."><span class="glyphicon glyphicon-info-sign"></span></span>
              </span>
            </div>
            <div>Service charge: 
              <span data-bind="visible:serviceCharge ">
                <span>£</span><span data-bind="text:serviceCharge"></span>
              </span>
            </div>
            <div>Rent: 
              <span data-bind="visible:monthlyRent ">
                <span>£</span><span data-bind="text:monthlyRent"></span>
              </span>
            </div>
            <div><strong>Total:
              <span data-bind="visible:totalMonthly ">
                <span>£</span><span data-bind="text:totalMonthly"></span>
              </span></strong>
            </div>
            <hr>
            <h4>Other Information</h4>
            <div>Amount borrowing:
              <span data-bind="visible:amountBorrowing ">
                <span>£</span><span data-bind="text:amountBorrowing"></span>
                <span data-toggle="popover" data-placement="top" data-container="body" data-content="This is the percentage being bought - deposit."><span class="glyphicon glyphicon-info-sign"></span></span>
              </span>
            </div>
            <div>Deposit value:
              <span data-bind="visible:depositValue ">
                <span>£</span><span data-bind="text:depositValue"></span>
                <span data-toggle="popover" data-placement="top" data-container="body" data-content="This is the value of the deposit at the percentage you selected."><span class="glyphicon glyphicon-info-sign"></span></span>
              </span>
            </div>
            <div>Total monthly net income:
              <span data-bind="visible:netMonthly ">
                <span>£</span><span data-bind="text:netMonthly"></span>
                <span data-toggle="popover" data-placement="top" data-container="body" data-content="This is calculated based on the yearly income figures provided and whether they are based on self-employed status or not. It is gross income - income tax - national insurance. It does not take into account deductions related to pensions, or anything else and assumes you are under 65 and over 21. Like all the figures here this is a only a guide. Calculations are based on figures from hmrc website for the tax year 2015/2016"><span class="glyphicon glyphicon-info-sign"></span></span>
              </span>
            </div>
            <div>Stamp duty to pay:
              <span data-bind="visible:stampDuty ">
                <span>£</span><span data-bind="text:stampDuty"></span>
                <span data-toggle="popover" data-placement="top" data-container="body" data-content="Stamp duty brackets and percentages are taken from hmrc website for the tax year 2015/2016."><span class="glyphicon glyphicon-info-sign"></span></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/app.viewModel.js"></script>
  </body>
</html>